
#section1{
	background-color: #1B6FBC;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

#section1-title{
	color: #ffffff;
	font-size: 50px;
	padding-left: 20px;

}

#section1-motto{
	padding-top: 20px;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
}

.section1-img-size{
	width: 250px;
	height: 150px;
}

.section1-images{
	padding-top: 3rem;
}

#section1-reminders-img{
	width: 170px;
	height: 150px;
}

/*section 2*/

#img-file{
	color: #FC5F2A;
}

#missing-picture{
	display: block;
	width: 200px;
	height: 85px;
}

#showImg{
	width: 480px;
	height: 480px;
	text-align: right;
}